# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# runtime
pids/
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# build/cache
dist/
build/
.cache/

# OS/editor
.DS_Store
.vscode/
.idea/

# misc
*.pem
